---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="fr">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hello, there 👋</h1>
			<p>
				Ceci est un site ou je note régulièrement les cours que je suis en train de suivre.
				Le but est de garder une trace de ce que j'ai appris et de pouvoir y revenir plus tard, 
				partager mes notes avec mes camarades et pouvoir reviser n'importe où et n'importe quand.
			</p>
			<p>
				Toutes les pages sont écrites au format MDX, ce qui permet d'avoir du contenu statique et dynamique.
			</p>
			<p>
				Je suis juste un étudiant, pas un expert en compsci avec 17 ans d'expérience, donc si vous trouvez des erreurs,
				n'hésitez pas à me le dire, je les corrigerai.
			</p>
			<img src="/pepepc.jpg" alt="Pepe PC" />
		</main>
		<Footer />
	</body>
</html>
